extends layout

block scripts
	script.
		$('#addData').submit((e) => {
			e.preventDefault();
			var formData = $('#addData').serialize();

			$.post('/api/data', formData, () => {
				$.get('/dataList', (view) => {
					$('#results').html(view)
				})
			})
		})

block content

	form#addData
		input(type="text", name="item")
		button(type="submit").
			Add Data

	div#results
		include dataList