extends layout

block scripts
	script.
		// Async submit override for the form
		$('#addData').submit((e) => {
			e.preventDefault();
			var formData = $('#addData').serialize();
			$.post('/data', formData, (response) => {
				$('#results').html(response);
			})
		})

block content

	form#addData
		input(type="text", name="item")
		button(type="submit").
			Add Data

	div#results
		include dataList